<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
    <!-- <div class="field">
        <label>Username</label>
        <input formControlName="username"/>
    </div> -->
    <!-- debugging -->
    
    <app-input 
        label="Username" 
        [control]="authForm.get('username')"
    ></app-input>
    <app-input
        label="password" 
        [control]="authForm.get('password')"
    ></app-input>
    <app-input
        label="passwordConfirmation"
        [control]="authForm.get('passwordConfirmation')"
    ></app-input>
    <!-- {{ authForm.get('username').errors | json }} -->

    <!-- <div class="field">
        <label>Password</label>
        <input formControlName="password"/>
    </div> -->
    <!-- debugging -->
    <!-- {{ authForm.get('password').errors | json }} -->
    <!-- <div class="field">
        <label>Password Confirmation</label>
        <input formControlName="passwordConfirmation"/>
    </div> -->
    <!-- debugging -->
    <!-- {{ authForm.get('passwordConfirmation').errors | json }} -->
    <button 
        class="ui submit button primary" 
        type="submit"
    >
        Submit
    </button>
    <!-- {{ authForm.errors | json }} -->
</form>
