<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <!-- <div class="field">
        <label>Username</label>
        <input formControlName="username"/>
    </div> -->
    <!-- debugging -->
    
    <app-input 
        inputType="text"
        label="Username" 
        [control]="authForm.get('username')"
    ></app-input>
    <app-input
        inputType="password"
        label="password" 
        [control]="authForm.get('password')"
    ></app-input>
    <app-input
        inputType="password"
        label="password confirmation"
        [control]="authForm.get('passwordConfirmation')"
    ></app-input>


    <div 
        *ngIf="
            authForm.get('password').touched && 
            authForm.get('passwordConfirmation').touched &&
            authForm.errors
        " 
        class="ui red basic label"
    >
        <p *ngIf="authForm.errors.passwordsDontMatch">
            Password and Password Confirmation Must Match
        </p>
        <p *ngIf="authForm.errors.noConnection">
            You have no internet connection, failed to sign up
        </p>
        <p *ngIf="authForm.errors.unknownError">
            Unknown Error Occurred
        </p>
    </div>

    <!-- {{ authForm.get('username').errors | json }} -->

    <!-- <div class="field">
        <label>Password</label>
        <input formControlName="password"/>
    </div> -->
    <!-- debugging -->
    <!-- {{ authForm.get('password').errors | json }} -->
    <!-- <div class="field">
        <label>Password Confirmation</label>
        <input formControlName="passwordConfirmation"/>
    </div> -->
    <!-- debugging -->
    <!-- {{ authForm.get('passwordConfirmation').errors | json }} -->
    <div>
        <button 
            class="ui submit button primary" 
            type="submit"
        >
            Submit
        </button>
    </div>
    <!-- {{ authForm.errors | json }} -->
</form>
