<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Angular Email</a>

    <div class="right menu">
      <a 
        class="ui item" 
        routerLink="/inbox" 
        routerLinkActive="acitve"
      >
        Inbox
      </a>
      <a 
        class="ui item" 
        routerLink="/signout" 
        routerLinkActive="acitve"
      >
        Sign Out
      </a>
      <a 
        class="ui item" 
        routerLink="/" 
        routerLinkActive="acitve"
      >
        Sign In
      </a>
      <a 
        class="ui item" 
        routerLink="/signup" 
        routerLinkActive="acitve"
      >
        Sign Up
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

